/* Page à propos*/
.img-texte{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: var(--espacement-mL);
    padding: 0px 25px 25px;
    background-color: #f2efec51;
    

    & img{
        max-height: 60ch;
        max-width: 50%;
        border-radius: 5px;
        object-fit: cover; 
    }
    
    & > div {
       
        & .bouton.contact{
            padding: 10px 20px;
            border-radius: 20px;
            margin-top: var(--espacement-tres-large);
            text-decoration: none; 
            color: inherit; 
            background-color: var(--couleur-accent);
            box-shadow: 5px 5px 8px rgb(69, 59, 59);
            transition: all 1.5s ease-in-out;
          
         
            &:hover{
                color: var(--couleur-primaire);
                background-color: var(--couleur-accent);
                transform: rotate(360deg) translateX(50px);
                border-radius: 50%;
               
            }
        }
        
    }

    &.petit{
        align-items: center;
        border-bottom: 1px solid #ababc3;
        padding: 15px 0;
        background-color: unset;
        
     
        & img{
            margin-top: 0;
            max-width: 25%;
            max-height: 40ch;
            box-shadow: 3px 5px 8px grey;
            border: 10px solid #f0f0f2;
            border-radius: 30px;  
        }
        
        & p{
            max-width: 90ch;
            align-items: center;
        }
        
    }
    
    &.msg-fin{
        align-items: center;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    
}


@media screen and (max-width:1430px) {
    .img-texte img{
        min-height: 60ch;
        width: 100%;
        object-fit: cover;  
    }
    
    .img-texte p{
        max-width: 50ch;
    }
    
}

@media screen and (max-width:1180px) {

    .img-texte{
        flex-direction: column;
        
        &.petit img, img{
            max-width: 100%;  
        }
        
        & p{
            order: 1;
            padding-bottom: 20px; 
            max-width: 80ch;  
        }
    }
}



