[data-page="accueil"]{
    & > *+* {
        margin-top: var(--espacement-tres-large);
    }

    & main{
        display: flex;
        justify-content: space-between;
        width: calc(95% - 20px);
        gap: var(--espacement-moyen);
        
        
        & > section{
            flex-basis: calc(55% - 20px);
            padding: var(--espacement-petit);
            box-sizing: border-box;
          
        }
        & > aside{
            padding: var(--espacement-courant);
            max-width: 30%;
            background-color:var(--couleur-bouton);
            box-sizing: border-box;
            position: relative;  
        }
    }
    
}