[data-page="accueil"]{
    .pays{
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items:center;
        flex-basis: calc(100% - 20px); 
        
        & img{
            max-width: 100%;
            height: 23rem;
            object-fit: cover;
            
            &:hover{
                cursor: pointer;
                border: 5px solid var(--couleur-accent);
                transform: scale(1.1) translate(3px);
                border-radius: 10px;
            }
        }
        
        & h2{
            font-size: var(--taille-grand);
            flex-grow: 1;
        }
        
    }
}




