/* styliser la section paiement*/
[data-page="formulaire"]{
    & .paiement >.input-section{
        margin-right: 0;
        margin-left: 0;
    }

    & .paiement div:nth-child(3){
        flex-basis: 100%;
    }
}